:{$PORT}

encode gzip

@backend_routes path /_event/* /ping /_upload /_upload/* /query /audit /stats /health
handle @backend_routes {
	reverse_proxy localhost:{$BACKEND_INTERNAL_PORT}
}

root * /srv
route {
	try_files {path} {path}/ /404.html
	file_server
}
